{% extends "base.html" %}

{% block title %} Projects {% endblock %}

{% block content %}

    <div class="container navless-container">
        <div class="content">
            <p>Hi {{ user.first_name }}, Welcome to Data Deposit Portal
            <div class="row">
                <div class="col-sm-2 brand-holder pull-left">
                    <h3>
                        Menu
                    </h3>

                    <a href="/projects"> Projects </a> <br><br>

                    <a href="/loggedout"> Logout </a> <br><br>

                </div>

            </div>
        </div>
    </div>

{% endblock %}






